.video{
    display: flex; /*Acerta o tamanho dos card*/
    flex-direction: row; /*Coloca o tamanho e direciona o tamanho dos card*/
    justify-content: center; /*Alinhas o centro dos card*/
  }


   