body {
  font-family: 'Roboto Mono', monospace;
  min-height: 400px;
  background-image: url('bg.png');
  background-color: #000000;
  background-size: 80vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #c92020;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #000000;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}


/* Centraliza os textos dos campo digitados*/
.centralizar {
  display: flex;
  justify-content: center; /* alinha horizontalmente */
  align-items: center;     /* alinha verticalmente */
  min-height: 10vh;       /* ocupa a altura total da tela */
  text-align: center;
}

/* Coloca cor se aprovado ou reprovado*/
.aprovado {
  background-color: #d4edda;
  color: #24a342 !important; /*Quando colocado !important ele sobre escreve do o código do bootstrap*/
  font-weight: bold;
}

.reprovado {
  background-color: #f8d7da;
  color: #e50f25 !important;
  font-weight: bold;
}